body{
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	
}

#moduleContainer{
	margin: 0 auto;
	padding:40px;
	width: 85%;
}

#FinPeriods {
	width: 100%;
	
}

#payments {
	padding: 20px;
	width:90%;
	display: table;
}

#projectWrapper{
	margin: 0 auto;
	width:1150px;
}

textarea {
    width: 76%;
    border-radius:4px;
}

select{
	width:82% !important;
	padding: 10px 8px !important;
	background: none  #FFFFFF !important;
	border: 1px solid #D3D3D3 !important;
    border-collapse: separate !important;
    border-radius: 4px 4px 4px 4px !important;
    color:#000 !important;
}

select option{
	color:#000 !important;
}


#main .ui-tabs-nav{
	border:0px !important;
}

#main > div{
	border-top: 1px solid #D4CCB0;
}

/* CSSTidy 1.2: Sun Sep 29 01:28:31 2013 */
.gantt,.gantt2 {
width:100%;
/* max-width: 1050px; */
border:14px solid #ddd;
position:relative;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
/* margin:20px auto; */
}

.gantt:after {
content:".";
visibility:hidden;
display:block;
height:0;
clear:both;
}

.fn-gantt {
width:100%;
}

.fn-gantt .fn-content {
overflow:hidden;
position:relative;
width:100%;
}


.fn-gantt .leftPanel {
float:left;
width:115px;
overflow:hidden;
border-right:1px solid #DDD;
position:relative;
z-index:20;
}

.fn-gantt .row {
float:left;
height:24px;
line-height:24px;
margin-left:-1px;
}

.fn-gantt .leftPanel .fn-label {
display:inline-block;
color:#484A4D;
width:110px;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
margin:0 0 0 5px;
}

.fn-gantt .leftPanel .row0 {
border-top:1px solid #DDD;
}

.fn-gantt .leftPanel .name,.fn-gantt .leftPanel .desc {
float:left;
height:23px;
border-bottom:1px solid #DDD;
background-color:#FFF0D3;
margin:0;
}

.fn-gantt .leftPanel .name {
width:110px;
font-weight:700;
}

.fn-gantt .leftPanel .desc {
width:115px;
}

.fn-gantt .leftPanel .fn-wide,.fn-gantt .leftPanel .fn-wide .fn-label {
width:225px;
}

.fn-gantt .spacer {
border-bottom:none;
background-color:#FFF0D3;
margin:-2px 0 1px;
position:absolute;
border-bottom:1px solid #DDD;
}

.fn-gantt .rightPanel {
overflow:hidden;
}

.fn-gantt .scoll-container {
overflow-y:auto;
overflow-x:hidden;
max-height:450px;	
}

.fn-gantt .dataPanel {
margin-left:0;
border-right:1px solid #DDD;
background-image:url(../images/grid.png);
background-repeat:repeat;
background-position:24px 24px;
position:relative;
}

.fn-gantt .day,.fn-gantt .date {
overflow:visible;
width:24px;
line-height:24px;
border-left:1px solid #DDD;
border-bottom:1px solid #DDD;
font-size:11px;
color:#484a4d;
text-shadow:0 1px 0 rgba(255,255,255,0.75);
text-align:center;
margin:-1px 0 0 -1px;
}

.fn-gantt .holiday {
background-color:#ffd263;
height:23px;
margin:0 0 -1px -1px;
}

.fn-gantt .today {
background-color:#fff8da;
height:23px;
font-weight:700;
text-align:center;
margin:0 0 -1px -1px;
}

.fn-gantt .sa,.fn-gantt .sn,.fn-gantt .wd {
height:23px;
text-align:center;
margin:0 0 0 -1px;
}

.fn-gantt .sa,.fn-gantt .sn {
color:#000;
background-color:#FDD587;
text-align:center;
}

.fn-gantt .wd {
background-color:#FFF0D3;
text-align:center;
}

.fn-gantt .rightPanel .month,.fn-gantt .rightPanel .year {
float:left;
overflow:hidden;
border-left:1px solid #DDD;
border-bottom:1px solid #DDD;
height:23px;
background-color:#FFF0D3;
font-weight:700;
font-size:11px;
color:#484a4d;
text-shadow:0 1px 0 rgba(255,255,255,0.75);
text-align:center;
margin:0 0 0 -1px;
}

.tasksgantt .year {
	//height:0px !Important;
}

.fn-gantt-hint {
border:5px solid #edc332;
background-color:#fff5d4;
position:absolute;
display:none;
z-index:11;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
padding:10px;
}

.fn-gantt .bar {
background-color:#D0E4FD;
height:18px;
position:absolute;
z-index:10;
text-align:center;
-webkit-box-shadow:0 0 1px rgba(0,0,0,0.25) inset;
-moz-box-shadow:0 0 1px rgba(0,0,0,0.25) inset;
box-shadow:0 0 1px rgba(0,0,0,0.25) inset;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
margin:4px 3px 3px;
}

.fn-gantt .bar .fn-label {
line-height:18px;
font-weight:700;
white-space:nowrap;
width:100%;
text-overflow:ellipsis;
overflow:hidden;
text-shadow:0 1px 0 rgba(255,255,255,0.4);
color:#414B57 !important;
text-align:center;
font-size:11px;
}

.fn-gantt .ganttRed {
background-color:#FFA500;
}

.fn-gantt .ganttRed .fn-label {
color:#000 !important;
}

.fn-gantt .ganttGreen {
background-color:#D8EDA3;
}

.fn-gantt .ganttGreen .fn-label {
color:#778461 !important;
}

.fn-gantt .ganttOrange {
background-color:#FCD29A;
}

.fn-gantt .ganttOrange .fn-label {
color:#714715 !important;
}

.fn-gantt .bottom {
clear:both;
background-color:#FFF0D3;
width:100%;
}

.fn-gantt .navigate {
border-top:1px solid #DDD;
padding:10px 20px 10px 225px;
}

.fn-gantt .navigate .nav-slider {
height:20px;
display:inline-block;
position:relative;
width:100%;
}

.fn-gantt .navigate .nav-slider-left,.fn-gantt .navigate .nav-slider-right {
text-align:center;
height:20px;
display:inline-block;
}

.fn-gantt .navigate .nav-slider-left {
float:left;
display:none;
}

.fn-gantt .navigate .nav-slider-right {
float:right;
display:none;
}

.fn-gantt .navigate .nav-slider-content {
text-align:left;
width:100%;
height:20px;
display:inline-block;
margin:0 10px;
}

.fn-gantt .navigate .nav-slider-bar,.fn-gantt .navigate .nav-slider-button {
position:absolute;
display:block;
}

.fn-gantt .navigate .nav-slider-bar {
width:100%;
height:6px;
background-color:#838688;
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6) inset;
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.6) inset;
box-shadow:0 1px 3px rgba(0,0,0,0.6) inset;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
margin:8px 0 0;
}

.fn-gantt .navigate .nav-slider-button {
width:17px;
height:60px;
background:url(../images/slider_handle.png) center center no-repeat;
left:0;
top:0;
cursor:pointer;
margin:-26px 0 0;
}

.fn-gantt .navigate .page-number {
display:inline-block;
font-size:10px;
height:20px;
}

.fn-gantt .navigate .page-number span {
color:#666666;
height:20px;
line-height:20px;
display:inline-block;
margin:0 6px;
}

.fn-gantt .navigate a:link,.fn-gantt .navigate a:visited,.fn-gantt .navigate a:active {
text-decoration:none;
}

.fn-gantt .nav-link {
display:inline-block;
width:20px;
height:20px;
font-size:0;
background:#595959 url(../images/icon_sprite.png) !important;
border:1px solid #454546;
cursor:pointer;
vertical-align:top;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
box-shadow:0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 1px rgba(0,0,0,0.2);
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin:0 3px 0 0;
}

.fn-gantt .nav-link:active {
-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
-moz-box-shadow:0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
box-shadow:0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 0 #FFF;
}

.fn-gantt .navigate .nav-page-back {
background-position:1px 0 !important;
margin:0;
}

.fn-gantt .navigate .nav-page-next {
background-position:1px -16px !important;
margin-right:15px;
}

.fn-gantt .navigate .nav-begin {
background-position:1px -112px !important;
}

.fn-gantt .navigate .nav-prev-week {
background-position:1px -128px !important;
}

.fn-gantt .navigate .nav-prev-day {
background-position:1px -48px !important;
}

.fn-gantt .navigate .nav-next-day {
background-position:1px -64px !important;
}

.fn-gantt .navigate .nav-next-week {
background-position:1px -160px !important;
}

.fn-gantt .navigate .nav-end {
background-position:1px -144px !important;
}

.fn-gantt .navigate .nav-zoomOut {
background-position:1px -96px !important;
}

.fn-gantt .navigate .nav-zoomIn {
background-position:1px -80px !important;
margin-left:15px;
}

.fn-gantt .navigate .nav-now {
background-position:1px -32px !important;
}

.fn-gantt-loader {
position:absolute;
width:100%;
height:100%;
left:0;
top:0;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
background:rgba(0,0,0,0.75);
z-index:30;
}

.fn-gantt-loader-spinner span {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
width:100%;
text-align:center;
height:1em;
line-height:1em;
color:#fff;
font-size:1em;
font-weight:700;
margin:auto;
}

.row:after {
clear:both;
}

.fn-gantt .navigate .nav-slider .nav-page-next,.fn-gantt .navigate .nav-slider .nav-now {
margin-right:5px;
}



/*******************Forms************************/

.singular #content{
margin: 0 10px !important;
}

.singular .entry-header,
.singular .entry-content {
margin: 0 auto;
width: 90%;
}

.form-section{
float:left;
width:100%;
margin-top:2px;
}

.two-columns{
	float: left;
	width:45%;
	padding-right:20px;
}
.one-column {
	float: left;
	width:90%;
	margin:20px 20px 20px 20px;
}

.two-columns.right{
	padding-right:0px;
	margin-left: 60px;
	width: 42%;
}


.one-column, .two-columns, .three-columns {
    margin-bottom: 2px;
}

.one-column label,
.two-columns label,
.three-columns label{
	color: #5C82AE;
	font-size:14px;
	margin:0 !important;
	width:100% !important;
}

.two-columns input,
.three-columns input {
    float: left;
}

.two-columns select{
	width:82% !important;
	padding: 10px 8px;
	background: none  #FFFFFF !important;
	border: 1px solid #D3D3D3 !important;
    border-collapse: separate !important;
    border-radius: 4px 4px 4px 4px !important;
}

.two-columns input[type="text"],

.three-columns input[type="text"]{
	width:80% !important;
	padding: 7px 3px;
	border: 1px solid #D3D3D3 !important;
    border-collapse: separate !important;
    border-radius: 4px 4px 4px 4px !important;
}

.slick-row.even {
background: white
}
.slick-row.odd {
background: #FFF1C2
}
.slick-row.totalRow{
	background: #F5DEB3;
	font-weight: bold;
}

.two-columns input[type="text"]:not(.ui-state-error),

.three-columns input[type="text"]:not(.ui-state-error){
	
	background: none  #FFFFFF !important;
}



.three-columns {
	float: left;
	width:30%;
	padding-right:10px;
}

.top-margin60{ margin-top:60px;}

#ui-datepicker-div{
	z-index:1000 !important;
}

.taskButton {
display: block;
width: 200px;
margin: 5px 0;
}

.draggable , #allTasks, #dependencies, #allProjects, #includedProjects { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
.draggable li, #allTasks li, #dependencies li, #allProjects li, #includedProjects li { margin: 0 5px 5px 5px; padding: 2px; font-size: 1em; width: 95%; cursor: move;}

#projectButtons{
	float:right;
	margin:20px 100px;
}
#projectTabs{
	/* width: 960px; */
}

#projectTabsNew{
	width: 100%;
}
 #loader-overlay{
 	/*display:none;*/
	background: url("../images/ajax-loader.gif") #000 no-repeat 0 0  !important;
	left: 50px;
    opacity: 0.55;
    position: absolute;
    top: 20px;
    width: 1050px;
    z-index: 9999;
}

#trash.ui-state-hover{
	background: url("../images/Trash_128.png") no-repeat 40px 40px !important;
}


.trash.ui-state-hover{
	background: url("../images/Trash_128.png") no-repeat 40px 40px;
}

.trash{
	background: url("../images/Trash_64.png") transparent no-repeat 40px 40px !important;
	background-position: right bottom;
	border: medium none !important;
    box-shadow: none !important;
}


#listConnect{float: left; margin: 95px 0px 0px -40px; font-size: 120%; font-weight: bold;}

.draggable,
#divTasksDepends ul{
	height:160px;
	border: 1px solid #D3D3D3;
	border-radius:2px;
    overflow-y: auto;
    width: 90%;
    background-color:#fff;
    box-shadow: 2px 2px 2px #888 inset;
    padding:8px 0 0 2px;
}
.ui-datepicker-trigger {
margin:10px 0 0 -20px;
cursor: pointer;
}


.ui-tooltip {
width: 310px !important;
}
/*
.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7
    *height: 1.7em;
    *top: 0.1em;
  } */
  
  .ui-autocomplete-input{
  margin: 0;
    padding: 0.3em;
	width: auto !important;
  }
  .ui-button-icon{
  float:left;
  height: 35px;
  }
  
  .ui-tabs{
  	/* float:left; */
  	margin: 0 0 20px 0;
  }
  
  


#main-menu{
	float:left;
}
#main-menu-wrapper {
    float: left;
    width: 100%;    
    }
    #main-menu-wrapper p{
        font-size: 120%;
    }
    #main-menu-wrapper label {
    float: left;
    width: 150px;
    font-size: 14px;
    clear: both;
    }
	#main-menu-wrapper form{
		width:60%;
        min-height: 120px;
		float:left;
	}
	.post{
		width:100%;
	}
	.cowrapper{
		margin:0;
		float:left;
		width:400px;
	}
	.cowrapper label{
		width:auto !important;
		display: inline-block;
		float: none;
	}
	.cowrapper select{
		float:right !important;
        width: 250px !important;
		
	}
	
	#paymentTypeRadio .ui-state-default {
	    background: none transparent;
	    color: #D3D3D3;
	    border: 1px solid #D4CCB0;
	    font-weight: normal;
	}
	#paymentTypeRadio .ui-state-active {
	    background: url("images/ui-bg_highlight-hard_100_fafaf4_1x100.png") repeat-x scroll 50% 50% #FAFAF4;
	    color: #459E00;
	    font-weight: bold;
	    border: 1px solid #D4CCB0;
	}
    #main-menu-wrapper input, #main-menu-wrapper select {
    float: left;
    width: 393px;
    border: 1px solid #CCC;
    padding: 3px;
    margin-bottom: 10px;
    }
    #main-menu-wrapper input[type=radio] {
    
    width: auto;
    }
    #main-menu-wrapper textarea {
    float: left;
    width: 250px;
    height: 100px;
    border: 1px solid #CCC;
    }
    #main-menu-wrapper #node {
    /*float: left;*/
    width: 360px;
    display: none;
    background-color: #CC5553;
    padding: 5px;
    color: #FFF;
    border: 1px solid #9B413F;
    margin-bottom: 10px;
    }
    #main-menu-wrapper #success {
    float: left;
    width: 360px;
    background-color: #8ACC39;
    color: #FFF;
    padding: 5px;
    border: 1px solid #6DA32C;
    display: none;
    margin-bottom: 10px;
    }
    #main-menu-wrapper input[type=submit] {
    float: right;
    width: 80%;
    padding: 5px 20px;
    background-color: #FFF;
    border: 1px solid #CCC;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    clear: both;
    margin-left: 150px;
    }
    
    .loader {
        
        background: url('<?php echo plugins_url("/cash-manager/images/ajax-loader.gif")?>') center center no-repeat;
        
    }
    
    #phone {
        
        margin: 20px 10px;
        float: none;
    }
    
    .note{
        font-weight: bold;
    }
    
    ul.oprow{
        clear:both;
    }
    
    ul.oprow li{
        list-style: none;
        width: 120px;
        height: 40px;
        float: left;
        vertical-align: middle;
    }
    
  
    
    .listhead li{
        font-size: 120%;
        font-weight: bold;
        background-color: aqua;
        padding: 0;
        margin: 10px 0 20px 0;
        /*height: 15px;
        padding-top: 15px;
        height: 20px;*/
        
    }
	
	/**hide edit button from the page**/
	#page span.edit-link{
		display:none;
	}
	
	
	/* Button */
	a.btn{border:#BBB 1px solid; color:#5f5e5e; display:block; float:left; padding:12px 15px; margin-right:10px; cursor:pointer;}
	a.btn:hover{text-decoration:none; background:#FFF;}
	
	/* Rounded Corners */
	.rounded, .btn{
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		-khtml-border-radius: 6px;
	}
		

/******************************************/


.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
body { font-size: 62.5%; }
 label  { display:block; }
 input.text { margin-bottom:12px; width:95%; padding: .4em; }
 fieldset { padding:0; border:0; margin-top:25px; }
 h1 { font-size: 1.2em; margin: .6em 0; }
 div#users-contain { width: 350px; margin: 20px 0; }
 div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
 div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
 .ui-dialog .ui-state-error { padding: .3em; }
 .validateTips { border: 1px solid transparent; padding: 0.3em; }
 
 
.banner {
    background-image: linear-gradient(bottom, rgb(154,237,150) 19%, rgb(113,171,36) 62%);
	background-image: -o-linear-gradient(bottom, rgb(154,237,150) 19%, rgb(113,171,36) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(154,237,150) 19%, rgb(113,171,36) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(154,237,150) 19%, rgb(113,171,36) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(154,237,150) 19%, rgb(113,171,36) 62%);
	border:1px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.19, rgb(154,237,150)),
		color-stop(0.62, rgb(113,171,36))
	);

	padding-left:40px;
	padding-right:40px;
	height: 120px; 
}
h2 {
	color: white;
	padding-left: 40px;
	padding-top: 20px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  
  .projbutton_delete {
    background-image: url(../images/DeleteRed.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding: 3px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    float:right;
     border:1;
   
}

 .projbutton_edit {
    background-image: url(../images/editGreen.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding: 3px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    float:right;
    border:1;
}


  .contextMenu {
      background: #e1efc7;
      border: 1px solid gray;
      padding: 2px;
      display: inline-block;
      min-width: 100px;
      -moz-box-shadow: 2px 2px 2px silver;
      -webkit-box-shadow: 2px 2px 2px silver;
      z-index: 99999;
    }

    .contextMenu li {
      padding: 4px 4px 4px 14px;
      list-style: none;
      cursor: pointer;
      background: url("../images/arrow_right_peppermint.png") no-repeat center left;
    }

    .contextMenu li:hover {
      background-color: white;
    }
 
 /****************************************************************************************/
   .projbuttonDelete {
    background-image: url(../images/deleteProj.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding: 3px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    float:right;
     border:1;
   
}

 .projbuttonEdit {
    background-image: url(../images/editProj.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding: 3px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    float:right;
    border:1;
}

 .projbuttonDelete:hover {
	background: url(../images/deleteProjw.png) no-repeat;
}

 .projbuttonEdit:hover {
	background: url(../images/editProjw.png) no-repeat;
 }
 
 .notShiftedTaskLogo{
	background: url(../images/notShiftedTaskLogo.png) no-repeat;
	padding-left:25px;
}

.shiftedTaskInLogo{
	background: url(../images/shiftedTaskInLogo.png) no-repeat;
	padding-left:25px;
}

.shiftedTaskOutLogo{
	background: url(../images/shiftedTaskOutLogo.png) no-repeat;
	padding-left:25px;
}

#loading-indicator {
  	display : block;
    position : fixed;
    z-index: 10000;
    background-color:#222;
    opacity : 0.9;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

#loading-indicator-image {
  	left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 220px;
    margin-left : -110px;
    margin-top : -200px;
}
.errorIcon {
	background: url(../images/error.png) no-repeat;
	width:64px;
	height:64px;
}
.infoIcon {
	background: url(../images/info.png) no-repeat;
	width:64px;
	height:64px;
}
.warningIcon {
	background: url(../images/warning.png) no-repeat;
	width:64px;
	height:64px;
}
.successIcon {
	background: url(../images/success.png) no-repeat;
	width:64px;
	height:64px;
}

.solutionTable {
	border: 1px solid #CCCCCC;
}
.solutionTable td {
	border: 1px solid #CCCCCC;
}

.solutionContainer {
	width:100%;
	/* height:350px; */
	overflow:auto;
}

.decreasetProjectProfitLogo{
	background: url(../images/decreasedProfitLogo.png) no-repeat;
	padding-left:25px;
}
.sameProjectProfitLogo{
	background: url(../images/sameProfileLogo.png) no-repeat;
	padding-left:25px;
}
.dateHeader {
	position:absolute;
	z-index:100;
}

.ui-selecting {
	background: #ccc !important;
}

.ui-selected {
	background: #999 !important
}

.slick-viewport .active {
	background: lightblue;
}