<?xml version="1.0" encoding="ISO-8859-1"?> 
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>JSONRPCServlet</servlet-name>
    <servlet-class>org.jabsorb.JSONRPCServlet</servlet-class>

    <!--
      the gzip_threshold indicates the response size at which the servlet will attempt to gzip the response
      if it can.

      Set this to -1 if you want to disable gzip compression for some reason,
      or if you have another filter or other mechanism to handle gzipping for you.

      Set this to 0 to attempt to gzip all responses from this servlet.
      otherwise, set it to the minimum response size at which gzip compression is attempted.

      note:  if the browser making the request does not accept gzip compressed content,
      or the result of gzipping would cause the response size to be larger (this could happen
      with very small responses) then the content will be returned without gzipping regardless
      of this setting, so it is very reasonable idea to set this to 0 for maximum bandwidth
      savings, at the (very minor) expense of having the server attempt to gzip all responses.
    -->

    <init-param>
      <param-name>gzip_threshold</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>
  <listener>
	<listener-class>
		com.softpoint.optima.JsonRpcInitializer
	</listener-class>
  </listener>
  <welcome-file-list>
      <welcome-file>allprojects.jsp</welcome-file>     
  </welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/pdf/*</url-pattern>
			<url-pattern>/css/*</url-pattern>
			<url-pattern>/images/*</url-pattern>
		</web-resource-collection>
	</security-constraint>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<role-name>optima</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>optima</role-name>
	</security-role>
	<session-config>
  		<session-timeout>30</session-timeout>
	</session-config>

</web-app>