<form id="createOrEditProjectForm">
	  <fieldset>
	    <label for="projectName">Project Name</label>
	    <input type="text" name="projectName" id="projectName" class="text ui-widget-content ui-corner-all" />
	    <label for="projectCode">Project Code</label>
	    <input type="text" name="projectCode" id="projectCode" value="" class="text ui-widget-content ui-corner-all" />
	    <label for="projectDescription">Project Description</label>
	    <input type="text" name="projectDescription" id="projectDescription" value="" class="text ui-widget-content ui-corner-all" />
	    <label for="projectStreetAddress">Project Location Address</label>
	    <input type="text" name="projectStreetAddress" id="projectStreetAddress" value="" class="text ui-widget-content ui-corner-all" />
	    <label for="projectCity">City</label>
	    <select name="projectCity" id="projectCity" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" >
	    	<option value="0"></option>
	    </select>
	    <label for="projectProvince">Province</label>
	    <select name="projectProvince" id="projectProvince" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" >
	    	<option value="0"></option>
	    </select>
	    <label for="projectCountry">Country</label>
	    <select name="projectCountry" id="projectCountry" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" >
	    	<option value="0"></option>
	    </select>
	    <label for="projectPostalCode">Postal Code</label>
	    <input type="text" name="projectPostalCode" id="projectPostalCode" class="text ui-widget-content ui-corner-all" />
	  </fieldset>
	  </form>