<form id="createOrEditProjectForm">
	  <fieldset>
	    <label for="projectName">Project Name:</label>
	    <input type="text" name="projectName" id="projectName" class="text ui-widget-content ui-corner-all" placeholder="Enter Project Name, from 3 to 128 characters"/>
	    <label for="projectCode">Project ID:</label>
	    <input type="text" name="projectCode" id="projectCode" value="" class="text ui-widget-content ui-corner-all" placeholder="Enter Project ID, from 3 to 32 characters"/>
	    <label for="projectDescription">Project Description:</label>
	    <input type="text" name="projectDescription" id="projectDescription" value="" class="text ui-widget-content ui-corner-all" placeholder="Enter Project Description, from 1 to 1024 characters"/>
	  </fieldset>
	  </form>