
<button id="addNewClient" class="btnRight">Add New Client</button>
 
<div id="clientList" class="accordionAfterBtn"></div>

<div id="newClientDialog" title="Client">
 	<form id="newClientForm">
	  <fieldset>
	    <label for="clientName">Name</label>
	    <input type="text" name="clientName" id="clientName" class="text ui-widget-content ui-corner-all"  placeholder="Enter Client Name, from 3 to 32 characters"/><br>
	     <label for="clientStreetAddress">Address</label>
	     <input type="text" name="clientStreetAddress" id="clientStreetAddress" class="text ui-widget-content ui-corner-all"  placeholder="Enter Client Address"/><br>
	      <label for="clientCountry">Country</label>
	     <select name="clientCountry" id="clientCountry"   class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left"  >
	    	<option value="0"></option>		    
	    </select><br><br>
	    <label for="clientProvince">Province</label>
	    <select name="clientProvince" id="clientProvince"   class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left"  >
	    	<option value="0"></option>		    
	    </select><br><br>
	    <label for="clientCity">City</label>
	    <select name="clientCity" id="clientCity"   class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left"  >
	    	<option value="0"></option>		    
	    </select><br><br>
	    
	     
	    
	    
	    
		<label for="clientPostalCode">Postal Code</label>
	    <input type="text" name="clientPostalCode" id="clientPostalCode" class="text ui-widget-content ui-corner-all" /><br>
	    
	  </fieldset>
  </form>
</div>
<div id="deleteClientConfirmDialog" title="Delete Location?" >  
	 <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"> 
	 </span> This client will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
 <script src="js/formutils.js"> </script>
 <script src="js/clients.js"> </script> <!--  all page specific js goes here -->
