
 <div id="toolbar" class="ui-widget-header ui-corner-all">
 	<button id="addNewLocation">Add New Location</button>
 </div>
  <div id="locationList"></div>
<div id="newLocationDialog" title="Location">
 	<form id="newLocationForm">
	  <fieldset>
	    <label for="locationName">Name</label>
	    <input type="text" name="locationName" id="locationName" class="text ui-widget-content ui-corner-all" /><br>
	    <label for="locationType">Type</label>
	    <select name="locationType" id="locationType"   class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left"  >
	    	<option value="">Select Type ...</option>
		    <option value="COUNTRY">COUNTRY</option>
		    <option value="PROVINCE">PROVINCE</option>
		    <option value="CITY">CITY</option>
	    </select><br><br>
	   	 <label for="parentLocation">Parent</label>
	    <select name="parentLocation" id="parentLocation" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" >
	    	<option value="0"></option>
	    </select>
	  </fieldset>
  </form>
</div>
<div id="deleteLocationConfirmDialog" title="Delete Location?" >  
	 <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"> 
	 </span> This location will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

 <script src="js/formutils.js"> </script>
 <script src="js/locations.js"> </script> <!--  all page specific js goes here -->

