<div class="form-section">
	<div class="two-columns">
		<label for="projnameTxt">Project Name</label> <input type="text"
			id="projnameTxt" name="projnameTxt" class="" /> <input type="hidden"
			id="portfolioId" />
	</div>
	<div class="two-columns right">
		<label for="projCodeTxt">Project Code</label> <input type="text"
			id="projCodeTxt" name="projCodeTxt" class="" />
	</div>
	<div class="two-columns">
		<label for="projectDescTxt">Project Description</label>
		<textarea id="projectDescTxt" name="projectDescTxt" rows="5"></textarea>

	</div>
	<div class="two-columns right">
		<label for="clientNameTxt">Client Name</label> <select name="projectClient"
			id="projectClient"
			class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left">
			<!--  -->
		</select>
	</div>
</div>
<!-- <div style="width: 850px; float: left; margin-left: 160px;"> -->
	<div class="form-section">
		<div class="two-columns">
			<span id="projAddrLbl">Project Address</span>
		</div>
		<div class="two-columns right">
			<span id="clientAddrLbl">Client Address</span>
		</div>
	</div>
	<div class="form-section">
		<div class="two-columns">
			<label for="projStreet">Street</label> <input type="text" id="projStreet"
				name="projStreet" class="" />
		</div>
		<div class="two-columns right">
			<label for="clientStreet">Street</label> <input type="text" id="clientStreet"
				name="clientStreet" readonly />
		</div>
	</div>
	<div class="form-section">
		<div class="two-columns">
			<label for="projectCountry">Country</label> <select name="projectCountry"
				id="projectCountry"
				class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left">

			</select>
		</div>
		<div class="two-columns right">
			<label for="clientCountry">Country</label> 
				<input type="text" id="clientCountry" name="clientCountry" readonly />
		</div>
	</div>
	<div class="form-section">
		<div class="two-columns">
			<label for="projectProv">Province</label> <select name="projectProv"
				id="projectProv"
				class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left">

			</select>
		</div>
		<div class="two-columns right">
			<label for="clientProv">Province</label> <input type="text" id="clientProv" name="clientProv" readonly />

			
		</div>
	</div>
	<div class="form-section">
		<div class="two-columns">
			<label for="projectCity">City</label> <select name="projectCity"
				id="projectCity"
				class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left">
			</select>
		</div>
		<div class="two-columns right">
			<label for="clientCity">City</label> <input type="text" id="clientCity" name="clientCity" readonly />
		</div>
	</div>
	<div class="form-section">

		<div class="two-columns">
			<label for="projPostCode">Postal Code</label> <input type="text"
				id="projPostCode" name="projPostCode" class="" />
		</div>
		<div class="two-columns right">
			<label for="clientPostCode">Postal Code</label> <input type="text"
				id="clientPostCode" name="clientPostCode" class="" readonly />
		</div>
	</div>
