<div class="form-section grouped-section textOntpp">
	<div class="PlaceTextOnTop">
		<B>Project Calendar</B>
	</div>
	<div class="two-columns">
		<div id="ulContainer" class="two-columns" style="margin-top:0px;width:60%">
			<label>Vacation and Days Off:</label>
			<ul id="daysOffList" style="min-height:90px;margin-top:0px;margin-bottom:0px"></ul>
		</div>
		<div class="two-columns" style="margin-top:38px;width:30%">
			<button id="addDayOffBtn" style="margin-bottom:10px;width:75px">Add</button>
			<br />
			<button id="deleteDayOffBtn" style="width:75px">Delete</button>
		</div>

	</div>

	<div class="two-columns right">

		<div class="one-column">

			<label>Week End Days</label> 
			<div class="grouped-section">
			<table style="border-color:transparent;margin-bottom:4px;font-size: 14;color:#212121">
			<tr>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_sun">Sun
			</td>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_mon">Mon
			</td>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_tue">Tue
			</td>
			</tr>
			<tr>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_wed">Wed
			</td>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_thu">Thu
			</td>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_fri">Fri
			</td>
			</tr>
			<tr>
			<td style="border-color:transparent">
			<input type="checkbox" id="we_sat">Sat
			</td>
			</tr>
			</table>
			</div>
		</div>

	</div>
</div>
<div class="form-section"></div>


<div id="addDaysOffDialog" title="Add Vacation Day">
	<p class="validateTips">Select day to add</p>

	<form id="daysOffForm">
		<fieldset>
			<input type="text" id="pDayOffDateTxt" name="pDayOffDateTxt"
				class="datepicker"/>
		</fieldset>
	</form>
</div>


