<div class="form-section grouped-section textOntpp">
	<div class="PlaceTextOnTop">
		<B>Project Financial Data/Period</B>
	</div>
	<div class="three-columns ">
		<div class="one-column">
		<label for="overHeadPerDayTxt">Overhead Per Day ($)</label> <input type="text"
			id="overHeadPerDayTxt" name="overHeadPerDayTxt" />
		</div>
		<div class="one-column">
		<label for="delayPenaltyTxt">Delay Penalty</label> <input type="text"
			id="delayPenaltyTxt" name="delayPenaltyTxt" />
		</div>
	</div>
	<div class="three-columns ">
		<div class="one-column">
		<label for="payRequestsPeriodTxt">Pay requests Period (days)</label>
			<input type="text" id="payRequestsPeriodTxt"
				name="payRequestsPeriodTxt" />
		</div>
		<div class="one-column">
		<label for="collectPaymentPeriodTxt">Collect Payment Period
				(days)</label> <input type="text" id="collectPaymentPeriodTxt"
				name="collectPaymentPeriodTxt" />
		</div>
	</div>
	<div class="three-columns ">
		<div class="one-column">
		<label for="advancedPaymentPercentage">Advanced Payment Percentage</label> <input type="text"
			id="advancedPaymentPercentage" name="advancedPaymentPercentage" />
		</div>
		<div class="one-column">
		<label for="retainedPercentageTxt">Retained Percentage</label> <input type="text"
			id="retainedPercentageTxt" name="retainedPercentageTxt" />
		</div>
	</div>

</div>

