<div id="tasksList" class="form-section" style="overflow: auto">
	<table style="width: 100%; border: 0; margin-bottom: 0;">
		<tr style="height: 50%; min-height: 300px">
			<td style="border: none; width: 50%;padding-bottom:0px"><B
				style="font-size: 14px; color: #212121">Project Tasks</B>
				<div>
					<ul id="mainAllTasks" data-role="listview" data-inset="true"
						class="draggable"></ul>
				</div>
				<table style="width: 90%; border: 0px; margin-bottom:0px">
					<tr>
						<td style="border: 0px"><button id="addTaskBtn"
								class="taskButton">Add</button></td>
						<td style="border: 0px"><button id="deleteTaskBtn"
								class="taskButton" style="float: right">Delete</button></td>
					</tr>
				</table></td>
			<td style="border: none; width: 50%">
				<div id="taskDetailsId" style="width: 100%; jei; display: none">
					<div style="min-height: 200px; padding-right: 0px"
						class="grouped-section textOntpp">
						<div class="PlaceTextOnTop">
							<B style="font-size: 14">Task Details</B>
						</div>
						<div class="two-columns">

							<label>Task Name</label> <input type="text" id="taskNameTxt"
								name="taskNameTxt" style="width: 100% !important"
								placeholder="Enter Task Name, from 3 to 256 characters"
								autofocus />

						</div>

						<div class="two-columns right" style="margin-left: 0px">

							<label>Status</label> <select id="statusId" class="dropdown">

								<option value="1">Not Started</option>

								<option value="2">Started</option>

								<option value="3">Finished</option>

							</select>

						</div>
						<div class="form-section" style="font-size:14px">
							<label>Task Description</label>

							<textarea id="taskDescTxt" name="taskDescTxt"
								style="width: 85%; height: 40px"></textarea>
						</div>

						<div class="form-section">
							<div class="three-columns">

								<label>Duration (Days)</label> <input type="text"
									id="durationTxt" name="durationTxt" />

							</div>
							<div class="three-columns">
								<label>Daily cost</label> <input type="text" id="dailyCostTxt"
									name="dailyCostTxt" />
							</div>
							<div class="three-columns">
								<label>Daily income</label> <input type="text"
									id="dailyIncomeTxt" name="dailyIncomeTxt" />
							</div>
						</div>
					</div>
					<div class="form-section grouped-section textOntpp" style="padding-right:0px;">
						<div class="PlaceTextOnTop">
							<B style="font-size: 14">Start Date</B>
						</div>
						<div class="three-columns">
							<label>Tentative</label> <input type="text" id="sDateTentative"
								name="sDateTentative" class="datepicker" style="width:95% !important"/>
						</div>
						<div class="three-columns">
							<label>Scheduled</label> <input type="text" id="sDateScheduled"
								name="sDateScheduled" style="width:95% !important" readonly  />
						</div>

						<div class="three-columns">
							<label>Actual</label> <input type="text" id="sDateActual"
								name="sDateActual" style="width:95% !important" class="datepicker" />
						</div>

					</div>

				</div>
			</td>
		</tr>
		<tr id="relId" style="display: none" class="divTasksDepends">
			<td style="border: none; width: 50%;padding-top:0px" colspan="2">
				<div class="form-section grouped-section textOntpp" >

					<div class="two-columns">

						<div class="PlaceTextOnTop">
							<B style="font-size:14px">Task Relationship</B>
						</div>
						<label style="font-size: 14px; color: #212121">All Tasks</label>
						<ul id="allTasks" class="sortable" style="padding-bottom: 4px;min-height:120px">

						</ul>

					</div>

					<div class="two-columns right">
						<label style="font-size: 14px; color: #212121">Depends on:</label>
						<ul id="dependencies" class="sortable" style="padding-bottom: 4px;min-height:120px">
						</ul>
					</div>
				</div>
			</td>
		</tr>
		<tr id="saveRowId" style="display: none">
			<td style="border: none" colspan="2">
				<div id="projectButtons2" class="ui-dialog-buttonset">
					<button id="saveTasksBtn" style="width: 200px">Save
						Project Tasks</button>
				</div>
			</td>
		</tr>

	</table>

</div>


