<div class="form-section">
	<div class="two-columns">

		<label for="interestRateTxt">Interest rate/yr</label> <input type="text"
			id="interestRateTxt" name="interestRateTxt" />

	</div>

	<div class="two-columns right">

		<label for="overHeadPerDayTxt">Overhead Per Day ($)</label> <input type="text"
			id="overHeadPerDayTxt" name="overHeadPerDayTxt" />

	</div>
</div>

<div class="form-section">
	<div class="two-columns">

		<label for="retainedPercentageTxt">Retained Percentage</label> <input type="text"
			id="retainedPercentageTxt" name="retainedPercentageTxt" />

	</div>
	
	<div class="two-columns right">

		<label for="advancedPaymentPercentage">Advanced Payment Percentage</label> <input type="text"
			id="advancedPaymentPercentage" name="advancedPaymentPercentage" />

	</div>

</div>

